<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Login - Projeto Academia</title>
<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="css/homeStyle.css">
</head>
<body>
	<header th:fragment="cabecalho">
		<nav class="navbar navbar-expand-lg bg-body-tertiary">
			<div class="container-fluid">
				<a class="navbar-brand" th:href="@{/}"
					style="color: #DCDCDC; font-size: 25px;">Peter Abenza</a>
				<button style="border: 2px solid white" class="navbar-toggler"
					type="button" data-toggle="collapse" data-target="#navMobile">
					<span class="navbar-toggler-icon"></span>
				</button>
			</div>

			<div id="navMobile"
				class="navbar-collapse collapse justify-content-end">
				<a class="btn-nav nav-item nav-link" th:href="@{/}"
					style="color: #DCDCDC;"><i class="fa fa-home"
					aria-hidden="true"></i>HOME</a> <a class="btn-nav nav-item nav-link"
					th:href="@{/CadastrarAluno}" style="color: #DCDCDC;"><i
					class="fas fa-user-graduate" aria-hidden="true"></i>BLOG</a> <a
					class="btn-nav nav-item nav-link" th:href="@{/listAlunos}"
					style="color: #DCDCDC;"><i class="fas fa-search"></i>LIST</a>
			</div>
		</nav>
	</header>

	<footer th:fragment="footer" class="text-dark">
		<div class="container py-4">
			<div class="row">
				<div class="col-md-6" style="color: white">
					<h2>Contact me</h2>
					<ul class="list-unstyled">
						<li><span class="social-label">Email: </span> <a
							href="mailto:abenzpeter@gmmail.com" target="_blank"
							rel="me noopener" data-umami-event="mail-social-footer">
								abenzpeter@gmail.com </a></li>
						<li><span class="social-label">Discord: </span> <a
							href="https://discord.com/users/927084293262565387"
							target="_blank" rel="me noopener"
							data-umami-event="discord-social-footer"> @peter </a></li>
						<li><span class="social-label">Github: </span> <a
							href="https://github.com/PeterAbenza" target="_blank"
							rel="me noopener" data-umami-event="matrix-social-footer">
								@peterAbenza </a></li>
						<li><span class="social-label">Linkedin: </span> <a
							href="https://www.linkedin.com/in/peterabenza/" target="_blank"
							rel="me noopener" data-umami-event="mastodon-social-footer">
								@peterAbenza </a></li>
					</ul>
				</div>
				<div class="col-md-6" style="color: white">
					<h2>Site map</h2>
					<ul class="list-unstyled">
						<li><a href="https://diogotc.com">Home</a></li>
						<li><a href="https://diogotc.com/blog">Blog</a></li>
						<li><a href="https://diogotc.com/impossiblelist">List</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="text-light py-3" style="background: black;">
			<div class="container d-flex justify-content-between">
				<p class="copyright-text mb-0">&copy; 2024-2024 Peter Abenza</p>
				<p class="mb-0">
					<a href="https://github.com/diogotcorreia/dtc-website"
						target="_blank" rel="noopener"
						data-umami-event="source-code-footer" class="text-light">
						Website Source Code </a>
				</p>
			</div>
		</div>
	</footer>

	<script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
	<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>